h1 {
  font-family: Archivo Black, Helvetica, arial, sans-serif;
  font-size: clamp(1.13rem, -0.02rem + 5.74vw, 6.87rem);
  font-weight: 800;
}

h2 {
  font-size: clamp(1.13rem, -0.02rem + 5.74vw, 6.87rem);
}

h3 {
  font-size: clamp(2.14rem, 2.04rem + 0.47vw, 2.44rem);
}

h4 {
  font-size: clamp(1.71rem, 1.52rem + 0.96vw, 2.66rem);
}

h5 {
  font-size: clamp(1.37rem, 1.11rem + 1.3vw, 2.67rem);
}

h6 {
  font-size: clamp(1.17rem, 1.04rem + 0.66vw, 1.83rem);
}

body {
  color: #FFFFFF;
}

body,
li,
a {
  font-family: arial, sans-serif;
  font-size: calc(clamp(0.85rem, 0.56rem + 0.63vw, 1.31rem) * 1.1);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

*::selection {
  background-color: hsl(204, 49%, 75%);
  color: #FFFFFF;
}

body {
  background-color: #0A0A0A;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

main {
  width: 70vw;
}

a {
  color: #6096BA;
  font-weight: 400;
}
a:hover {
  color: hsl(204, 49%, 75%);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1E1E1E;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6096BA;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#blue {
  background-color: #0267C1;
}

#red {
  background-color: #cf2114;
}

#yellow {
  background-color: #FA9500;
}

#purple {
  background-color: #4f5d95;
}

#grey {
  background-color: #555555;
}

#orange {
  background-color: #DA5B0B;
}

#pink {
  background-color: #ff69b4;
}

.App {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 50vw;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  color: #D4AFB9;
}
.App .link {
  margin-top: 20px;
}
.App a {
  color: #BA3B46;
}
.App a:hover {
  color: #9B313A;
}
.App .header {
  position: absolute;
  display: grid;
  place-self: center;
  line-height: clamp(1.13rem, -0.02rem + 5.74vw, 6.87rem);
  width: 50vw;
}
.App .underline {
  text-decoration: underline;
  text-decoration-color: #BA3B46;
  text-decoration-style: solid 5px;
}
